In [55]:
# Perform the following operations using R/Python on suitable data sets:
# a) read data from different formats (like csv, xls)
# b) Find Shape of Data
# c) Find Missing Values
# d) Find data type of each column
# e) Finding out Zero's
# f) Indexing and selecting data, sort data,
# g) Describe attributes of data, checking data types of each column,
# h) counting unique values of data, format of each column, converting variable
# data type (e.g. from long to short, vice versa)

In [56]:
import numpy as np
import pandas as pd

In [57]:
def d_l():
    print("==="*10)

In [58]:
dataset_path = "C:\\Users\\annan\\Desktop\\ML_Jupyter\\datasets\\admission.csv"
df = pd.read_csv(dataset_path)
d_l()
print("Head of the df: ")
print(df.head())
d_l()

==============================
Head of the df:
   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        324          107                  4  4.0   4.5  8.87
2           3        316          104                  3  3.0   3.5  8.00
3           4        322          110                  3  3.5   2.5  8.67
4           5        314          103                  2  2.0   3.0  8.21

   Research  Chance of Admit
0         1              0.92
1         1              0.76
2         1              0.72
3         1              0.80
4         0              0.65
==============================

In [59]:
d_l()
print("Shape of Dataframe")
print(df.shape)
d_l()

==============================
Shape of Dataframe
(500, 9)
==============================

In [60]:
d_l()
print("Missing values of the dataset:")
print(df.isnull())
d_l()
print("Sum of Missing values of the dataset:")
print(df.isnull().sum())
d_l()

==============================
Missing values of the dataset:
     Serial No.  GRE Score  TOEFL Score  University Rating    SOP   LOR   \
0         False      False        False              False  False  False
1         False      False        False              False  False  False
2         False      False        False              False  False  False
3         False      False        False              False  False  False
4         False      False        False              False  False  False
..          ...        ...          ...                ...    ...    ...
495       False      False        False              False  False  False
496       False      False        False              False  False  False
497       False      False        False              False  False  False
498       False      False        False              False  False  False
499       False      False        False              False  False  False

      CGPA  Research  Chance of Admit
0    False     False             False
1    False     False             False
2    False     False             False
3    False     False             False
4    False     False             False
..     ...       ...               ...
495  False     False             False
496  False     False             False
497  False     False             False
498  False     False             False
499  False     False             False

[500 rows x 9 columns]
==============================
Sum of Missing values of the dataset:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64
==============================

In [61]:
d_l()
print("Datatype of Each Column: ")
print(df.info())
d_l()

==============================
Datatype of Each Column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB
None
==============================

In [62]:
d_l()
print("Zeros in Each Column: ")
print((df==0).sum())
d_l()

==============================
Zeros in Each Column:
Serial No.             0
GRE Score              0
TOEFL Score            0
University Rating      0
SOP                    0
LOR                    0
CGPA                   0
Research             220
Chance of Admit        0
dtype: int64
==============================

In [63]:
d_l()
print("Sorting df on basis of column: ")
print(df.sort_values(by='GRE Score', ascending=True))
d_l()

==============================
Sorting df on basis of column:
     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
377         378        290          100                  1  1.5   2.0  7.56
117         118        290          104                  4  2.0   2.5  7.46
168         169        293           97                  2  2.0   4.0  7.80
79           80        294           93                  1  1.5   2.0  7.36
272         273        294           95                  1  1.5   1.5  7.64
..          ...        ...          ...                ...  ...   ...   ...
81           82        340          120                  4  5.0   5.0  9.50
84           85        340          115                  5  4.5   4.5  9.45
143         144        340          120                  4  4.5   4.0  9.92
384         385        340          113                  4  5.0   5.0  9.74
429         430        340          115                  5  5.0   4.5  9.06

     Research  Chance of Admit
377         0              0.47
117         0              0.45
168         1              0.64
79          0              0.46
272         0              0.49
..        ...               ...
81          1              0.96
84          1              0.94
143         1              0.97
384         1              0.96
429         1              0.95

[500 rows x 9 columns]
==============================

In [64]:
d_l()
print("Description of Dataframe: ")
print(df.describe())
d_l()

==============================
Description of Dataframe:
       Serial No.   GRE Score  TOEFL Score  University Rating         SOP  \
count  500.000000  500.000000   500.000000         500.000000  500.000000
mean   250.500000  316.472000   107.192000           3.114000    3.374000
std    144.481833   11.295148     6.081868           1.143512    0.991004
min      1.000000  290.000000    92.000000           1.000000    1.000000
25%    125.750000  308.000000   103.000000           2.000000    2.500000
50%    250.500000  317.000000   107.000000           3.000000    3.500000
75%    375.250000  325.000000   112.000000           4.000000    4.000000
max    500.000000  340.000000   120.000000           5.000000    5.000000

            LOR         CGPA    Research  Chance of Admit
count  500.00000  500.000000  500.000000         500.00000
mean     3.48400    8.576440    0.560000           0.72174
std      0.92545    0.604813    0.496884           0.14114
min      1.00000    6.800000    0.000000           0.34000
25%      3.00000    8.127500    0.000000           0.63000
50%      3.50000    8.560000    1.000000           0.72000
75%      4.00000    9.040000    1.000000           0.82000
max      5.00000    9.920000    1.000000           0.97000
==============================

In [65]:
d_l()
unique_counts = df.nunique()
print("Unique Counts:\n", unique_counts)
d_l()

==============================
Unique Counts:
 Serial No.           500
GRE Score             49
TOEFL Score           29
University Rating      5
SOP                    9
LOR                    9
CGPA                 184
Research               2
Chance of Admit       61
dtype: int64
==============================

In [66]:
d_l()
df['SOP'] = df['SOP'].astype(float)
print("Updated Data Types after Conversion:\n", df.dtypes)
d_l()

==============================
Updated Data Types after Conversion:
 Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object
==============================